<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<script>

var app = angular.module('myApp', []);

app.controller('myCtrl', function($scope) {
    $scope.firstName= "John";
    $scope.lastName= "Doe";

    $scope.names=['Jani','Hege','Kai'];

    $scope.x='foobar';
});
</script>

<div ng-app="myApp" ng-controller="myCtrl">

First Name: <input type="text" ng-model="firstName"><br />
Last Name: <input type="text" ng-model="lastName"><br />
<br />
Full Name: {{firstName + " " + lastName}}

</div>

<div ng-app="myApp" ng-controller="myCtrl" ng-init="names=['Jani','Hege','Kai']">
  <ul>
    <li ng-repeat="x in names">
      name: {{x}}
    </li>
  </ul>
</div>



</body>
</html>
